.project {
	max-height: 520px;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	padding: 40px;
	gap: 10px;
	background-color: #f5e8dc0a;
	border-radius: 8px;
	box-shadow: 7px 7px 7px #00000030;
}
.project h3 {
	margin-top: 0;
	margin-bottom: 18px;
	font-size: 24px;
}

.project img {
	margin: 0 auto 10px;
	border-radius: 8px;
	width: 100%;
	box-shadow: 7px 7px 7px #00000030;
}
.project .info-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 186px;
	/* flex: 1; */
}
.project p.description {
	margin-bottom: 20px;
	/* margin: 0px auto; */
	margin: auto;
	/* flex: 1; */
}
.project span.date {
	display: inline-block;
	color: rgb(137, 137, 137);
	font-size: 0.9rem;
}
.project .button-container {
	margin-top: auto;
	display: flex;
	justify-content: space-evenly;
}
.project .button-container a {
	color: white;
	border: 1px solid white;
	padding: 8px 33px;
	border-radius: 8px;
}
.project .button-container a:hover {
	background-color: white;
	color: black;
}
